@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(in lch, #5f1203, #000000);
  background-repeat: no-repeat;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: fit-content;
  min-height: fit-content;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: col;
  z-index: 1000;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .w-20vw {
    width: 20vw;
  }

  .h-50vh {
    height: 50vh;
  }
}

.nav-placeholder {
  height: 0px;
  position: absolute;
}

.sticky-animation {
  animation-duration: 0.7s;
  animation-name: fadeInDown;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.absolute-animation {
  animation-duration: 0.7s;
  animation-name: fadeInUp;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  bottom: 100%;
  width: 100%;
  height: 100%;
  background: #000;
  animation-duration: 1s;
  animation-name: cardUp;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
